<div class="row-fluid">
  <div class="span4 offset4 text-center">
  	<h1>Detect</h1>
    <form class="form-inline" role="form" action="/play" method="GET">
		<div class="form-group">
		    <input class="form-control" id="nickname" name="nickname" placeholder="Enter nickname">
	  	</div>
		<div class="form-group">
			<input class="form-control" id="room" name="room" placeholder="Room">
	 	</div>
	 	<br><br>
	  	<button type="submit" class="btn btn-default">Play</button>
	</form>
  </div>
</div>